<footer id="footer" class="footer">
  <div class="container">
    <ul class="footer__content">
      <li class="footer__item">
        <div class="footer__logo">
          <i class="icon">
            @@include('../../img/base/logo-bia.svg')
          </i>
        </div>
      </li>
      <li class="footer__item">
        <div class="footer__item-icon">
          <a href="tel:+74956844901">
            <i class="icon">
              @@include('../../img/base/phone.svg')
            </i>
          </a>
        </div>
        <ul class="footer__item-content">
          <li>
            <a href="tel:+74956844901">
              +7-(495)-684-49-01
            </a>
          </li>
          <li>
            <a href="tel:+79269946796">
              +7-(926)-994-67-96 (Viber, What’sApp, Telegram)
            </a>
          </li>
        </ul>
      </li>
      <li class="footer__item">
        <div class="footer__item-icon">
          <i class="icon">
            @@include('../../img/base/pin.svg')
          </i>
        </div>
        <ul class="footer__item-content">
          <li>
            <a href="#!">
              г. Москва, Проспект Мира, д.70
            </a>
          </li>
        </ul>
      </li>
      <li class="footer__item">
        <div class="footer__item-icon">
          <a href="mailto:info@persona-bia.ru">
            <i class="icon">
              @@include('../../img/base/email.svg')
            </i>
          </a>
        </div>
        <ul class="footer__item-content">
          <li>
            <a href="mailto:info@persona-bia.ru">
              info@persona-bia.ru
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="footer__policy">
      <li>
        <a href="#!">Политика конфиденциальности</a>
      </li>
      <li>
        <a href="#!">Пользовательское соглашение</a>
      </li>
    </ul>
  </div>

</footer>

@@include('./modals/promo/promo-1.html')