<section id="services-list" class="services-list">
    <div class="services-list__container container">
        <div class="services-list__img-wrapper">
            <img src="./img/services/eyebrows/services/img-1.jpg" alt="Брови и ресницы">
        </div>
        <div class="services-list__content">
            <div class="services-list__heading">
                <h2>Прайс-лист</h2>
            </div>

            <div>
                <ul class="services-list__prices dotted-list list list--gutter list--light">

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>БРОВИ</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "700 &#8381;", prop: "Дизайн бровей" },
                    { value: "850 &#8381;", prop: "Дизайн мужских бровей" },
                    { value: "800 &#8381;", prop: "Окрашивание бровей" },
                    { value: "1 050 &#8381;", prop: "Окрашивание бровей хной" },
                    { value: "1 500 &#8381;", prop: "Архитектура бровей <small>(краска)</small>" },
                    { value: "750 &#8381;", prop: "Архитектура бровей <small>(хна)</small>" },
                    ])
                    <li class="list__item">
                        <div class="param">
                            <span class="param__value">2 600 &#8381;</span>
                            <span class="param__prop">Ламинирование бровей + коррекция + окрашивание
                                <small>(долговременная укладка)</small>.
                                Thuya</span>
                        </div>
                    </li>
                    <li class="list__item">
                        <div class="param">
                            <span class="param__value">2 400 &#8381;</span>
                            <span class="param__prop">Ламинирование Бровей + окрашивание.
                                <small>(долговременная укладка)</small>.
                                Thuya</span>
                        </div>
                    </li>
                    <li class="list__item">
                        <div class="param">
                            <span class="param__value">2 200 &#8381;</span>
                            <span class="param__prop">Ламинирование бровей + коррекция.
                                <small>(долговременная укладка)</small>.
                                Thuya</span>
                        </div>
                    </li>


                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>РЕСНИЦЫ</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "800 &#8381;", prop: "Окрашивание ресниц" },
                    { value: "2 800 &#8381;", prop: "Ламинирование ресниц" },
                    ])

                </ul>

            </div>

            <div class="services-list__btn-wrapper">
                <button class="services-list__btn btn btn_primary" onClick="showSonlineWidget(sonlineWidgetOptions);">
                    <span> Записаться </span>
                </button>
            </div>
        </div>
    </div>
</section>