<section id="services-list" class="services-list">
    <div class="services-list__container container">
        <div class="services-list__img-wrapper">
            <img src="./img/services/manicure/services/img-1.jpg" alt="Маникюр и педикюр">
        </div>
        <div class="services-list__content">
            <div class="services-list__heading">
                <h2>Прайс-лист</h2>
            </div>

            <div>
                <ul class="services-list__prices dotted-list list list--gutter list--light">
                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Маникюр</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "800 &#8381;", prop: "ПЕРСОНАльный экспресс-маникюр" },
                    { value: "1 000 &#8381;", prop: "ПЕРСОНАльный комплексный обрезной-маникюр" },
                    { value: "1 900 &#8381;", prop: "ПИЛОЧНЫЙ (ЭКО)-маникюр" },
                    { value: "1 900 &#8381;", prop: "Аппаратный маникюр" },
                    { value: "600 &#8381;", prop: "BABY-маникюр <small>(для детей до 10 лет)</small>" },
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Покрытие</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "500 &#8381;", prop: "Покрытие лаком E.MI" },
                    { value: "600 &#8381;", prop: "Покрытие лаком CHRISTINATZGERALD" },
                    { value: "1 300 &#8381;", prop: "Покрытие Luxio <small>(гель-лак)</small>"},
                    { value: "400 &#8381;", prop: "Снятие Luxio/Shellac/Gel Color" },
                    { value: "от 400 &#8381;", prop: "IBX Восстановление и укрепление ногтей*" },
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Педикюр</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "1 600 &#8381;",
                    prop: "ПЕРСОНАльный экспресс-педикюр <small>(обработка кутикулы)/(обработка пяток)</small>" },
                    { value: "2 100 &#8381;",
                    prop: "ПЕРСОНАльный комплексный Женский педикюр" },
                    { value: "2 300 &#8381;", prop: "ПЕРСОНАльный комплексный Мужской педикюр"},
                    { value: "2 900 &#8381;", prop: "ПИЛОЧНЫЙ (ЭКО) педикюр Женский" },
                    { value: "3 100 &#8381;", prop: "ПИЛОЧНЫЙ (ЭКО) педикюр Мужской" },
                    ])

                </ul>

                <p class="services-list__prices-description">
                    * - тип материала уточняйте у специалиста
                </p>
            </div>

            <div class="services-list__btn-wrapper">
                <button class="services-list__btn btn btn_primary" onClick="showSonlineWidget(sonlineWidgetOptions);">
                    <span> Записаться </span>
                </button>
            </div>
        </div>
    </div>
</section>