<section id="services" class="services">
  <div class="container">
    <div class="services__heading">
      <h2>Услуги</h2>
    </div>
    <div class="services__swiper-container swiper-container">

      <div class="services__swiper-wrapper swiper-wrapper">

        @@include('./slide-1.html')
        @@include('./slide-2.html')
        @@include('./slide-3.html')
        @@include('./slide-5.html')
        @@include('./slide-6.html')
        @@include('./slide-7.html')

      </div>

      <div class="services__swiper-pagination swiper-pagination"></div>

      <div class="services__swiper-button-prev swiper-button-prev"></div>
      <div class="services__swiper-button-next swiper-button-next"></div>

    </div>
    <button class="services__btn btn btn_primary" onClick="showSonlineWidget(sonlineWidgetOptions);">
      <span>Записаться</span>
    </button>
  </div>
</section>