<section id="about" class="about">
  <div class="sun">
    <img src="./img/main/about/sun.png" alt="">
  </div>
  <div class="moon">
    <img src="./img/main/about/moon.png" alt="">
  </div>
  <div class="container">
    <div class="about__wrapper">
      <div class="about__img-wrapper">
        <img class="about__img" src="./img/main/about/img-1.jpg" alt="Наша команда">
      </div>
      <div class="about__content">
        <div class="about__heading">
          <h2 class="about__title">
            О нас
          </h2>
        </div>
        <p class="about__description">
          Beauty in all – это концептуально новое, многофункциональное бьюти пространство, созданное молодыми
          ценителями стиля и вкуса. Индивидуальный подход к Гостям – кредо BIA. Именно поэтому в каждом из направлений
          нашего дела мы выбираем самые новые, модные и эффективные материалы для работы и для домашнего ухода.
        </p>
        <button class="about__btn btn btn_primary" onClick="showSonlineWidget(sonlineWidgetOptions);">
          <span> Записаться </span>
        </button>
      </div>
    </div>
  </div>
</section>