<section id="contacts" class="contacts">
  <div class="contacts__container container">
    <div class="contacts__map-wrapper">
      <div class="map" id="map"></div>
    </div>
    <div class="contacts__content">
      <div class="contacts__heading">
        Адреса парковок
      </div>
      <ul class="contacts__parking-list">
        <li class="contacts__parking-item">
          Парковка 3005: Банный переулок (заезд с Проспекта Мира и с Большой Переяславской)
        </li>
        <li class="contacts__parking-item">
          Парковка 3205: Средняя Переяславская ул.
        </li>
        <li class="contacts__parking-item">
          Парковка 3205: Переяславский переулок
        </li>
        <li class="contacts__parking-item">
          Общедоступная парковка по адресу Проспект Мира, 74-76
        </li>
      </ul>
      <div class="contacts__icons">
        <div class="contacts__apps">
          <a href="#!">
            <i class="icon">
              @@include('../../../img/base/app-store.svg')
            </i>
          </a>
          <a href="#!">
            <i class="icon">
              @@include('../../../img/base/play-store.svg')
            </i>
          </a>
        </div>
        <div class="contacts__social">
          <a href="#!">
            <i class="icon">
              @@include('../../../img/base/facebook.svg')
            </i>
          </a>
          <a href="#!">
            <i class="icon">
              @@include('../../../img/base/telegram.svg')
            </i>
          </a>
          <a href="#!">
            <i class="icon">
              @@include('../../../img/base/instagram.svg')
            </i>
          </a>
          <a href="#!">
            <i class="icon">
              @@include('../../../img/base/whatsapp.svg')
            </i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>