<section id="contacts" class="contacts">
  <div class="contacts__container container">
    <div class="contacts__map-wrapper">
      <div class="map" id="map"></div>
    </div>
    <div class="contacts__content">

      <ul class="contacts__parking-list">
        <li>
          <div class="contacts__heading">
            <span>
              <i class="icon">
                @@include('../../../img/base/parking.svg')
              </i>
            </span>
            <span>Парковка</span>
          </div>
        </li>
        <li class="contacts__parking-item">
          Бесплатная парковка для гостей салона
        </li>
      </ul>
      <div class="contacts__icons">
        <div class="contacts__apps">
          <a href="#!">
            <i class="icon">
              @@include('../../../img/base/app-store.svg')
            </i>
          </a>
          <a href="#!">
            <i class="icon">
              @@include('../../../img/base/play-store.svg')
            </i>
          </a>
        </div>
        <div class="contacts__social">
          <a href="https://www.facebook.com/PersonaBIA70">
            <i class="icon">
              @@include('../../../img/base/facebook.svg')
            </i>
          </a>
          <a href="https://telegram.im/@PERSONAbia">
            <i class="icon">
              @@include('../../../img/base/telegram.svg')
            </i>
          </a>
          <a href="https://instagram.com/persona_bia?r=nametag">
            <i class="icon">
              @@include('../../../img/base/instagram.svg')
            </i>
          </a>
          <a href="https://api.whatsapp.com/send?phone=79269946796">
            <i class="icon">
              @@include('../../../img/base/whatsapp.svg')
            </i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>