<section id="services-list" class="services-list">
    <div class="services-list__container container">
        <div class="services-list__img-wrapper">
            <img src="./img/services/hairdressing/services/img-1.jpg" alt="Парикмехерские услуги">
        </div>
        <div class="services-list__content">
            <div class="services-list__heading">
                <h2>Прайс-лист</h2>
            </div>

            <div>
                <ul class="services-list__prices dotted-list list list--gutter list--light">
                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Стиль</b> <small>(мытье, стрижка, легкая укладка)</small></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "1 400 &#8381;", prop: "от Мастера" },
                    { value: "2 000 &#8381;", prop: "от Топ-мастера" },
                    { value: "2 500 &#8381;", prop: "от Стилиста" },
                    { value: "2 900 &#8381;", prop: "Стилист с индивидуальным прайсом (м)" },
                    { value: "3 300 &#8381;", prop: "Стилист с индивидуальным прайсом (ж)" },

                    { value: "от 900 &#8381;",
                    prop: "Детский стиль модельная стрижка <small>(дети до 10 лет)</small>" },
                    { value: "от 400 &#8381;", prop: "Коррекция челки" },
                    { value: "от 1 200 &#8381;", prop: "Стрижка машинкой (м)" },
                    { value: "от 500 &#8381;", prop: "Коррекция бороды и усов" },
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Полировка волос</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "2 850 &#8381;", prop: "Стилист с индивидуальным прайсом" },
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Укладка</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 900 &#8381;", prop: "Экспресс укладка" },
                    { value: "от 1 100 &#8381;", prop: "Укладка дневная" },
                    { value: "от 1 600 &#8381;", prop: "Укладка коктейльная"},
                    { value: "от 2 300 &#8381;", prop: "Прическа Вечерняя" },
                    { value: "от 3 200 &#8381;", prop: "Укладка 'Афрокудри'" },
                    ])


                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Окрашивание</b> <small>(с сушкой) * WELLA. REDKEN.</small></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "1 900 &#8381;", prop: "COLOR BAR (color уход)" },
                    { value: "от 2 900 &#8381;", prop: "Окрашивание корней" },
                    { value: "от 3 600 &#8381;", prop: "Окрашивание 1" },
                    { value: "от 4 200 &#8381;", prop: "Окрашивание 2"},
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span>
                                <b>Тонирование</b>
                                <small>
                                    (с сушкой)</small> * <small></small>(Wella Color Touch / Redken Shades
                                EQ)
                                </small>
                            </span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 2 800 &#8381;", prop: "Тонирование 1" },
                    { value: "от 3 300 &#8381;", prop: "Тонирование 2"},
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Окрашивание. Творческая работа</b> <small>(с сушкой) </small>*<small> WELLA.
                                    REDKEN.</small></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 5 200 &#8381;", prop: "Творческая работа" },
                    { value: "11 500 &#8381;", prop: "MAGMAMANIA"},
                    { value: "17 000 &#8381;", prop: "AirTouch"},
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Блондирование</b> <small>(с сушкой) </small>*<small> WELLA. REDKEN.</small></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 1 900 &#8381;", prop: "Блондирование 1" },
                    { value: "от 2 500 &#8381;", prop: "Блондирование 2"},
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Мелирование</b> <small>(с сушкой) </small>*<small> WELLA. REDKEN.</small></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 2 600 &#8381;", prop: "Мелирование корней" },
                    { value: "от 3 300 &#8381;", prop: "Мелирование 1" },
                    { value: "от 4 000 &#8381;", prop: "Мелирование 2"},
                    { value: "от 6 400 &#8381;", prop: "Мелирование без стереотипов"},
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Трансформирование текстуры</b> <small>(с сушкой)</small></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 4 500 &#8381;", prop: "Трансформация текстуры" },
                    { value: "от 5 000 &#8381;", prop: "БИКСИПЛАСТИЯ <small>/ биопластика волос</small>" },
                    { value: "5 900 &#8381;", prop: "Ламинирование Sebastian" },
                    { value: "от 6 500 &#8381;", prop: "Keratine <small>Контроль над волосами</small>" },
                    { value: "от 6 500 &#8381;", prop: "Botox <small>для волос</small>" },
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Меню уходов</b> <small> (сушка включена в стоимость ухода; укладка
                                    тарифицируется отдельно)</small></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 500 &#8381;", prop: "Kérastase" },
                    { value: "от 500 &#8381;", prop: "Redken" },
                    { value: "от 500 &#8381;", prop: "Lebel" },
                    { value: "3 700 &#8381;", prop: "NIOXIN Сервис" },
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><small>NIOXIN Сервис - Программа восстановления кожи головы и укрепления волос с
                                    регенерирующим пилингом</small></span>
                        </div>
                    </li>
                </ul>

                <p class="services-list__prices-description">
                    * - особенности услуги уточняйте у администратора
                </p>

            </div>

            <div class="services-list__btn-wrapper">
                <button class="services-list__btn btn btn_primary" onClick="showSonlineWidget(sonlineWidgetOptions);">
                    <span> Записаться </span>
                </button>
            </div>
        </div>
    </div>
</section>