<section id="services-list" class="services-list">
    <div class="services-list__container container">
        <div class="services-list__img-wrapper">
            <img src="./img/services/hairdressing/services/img-1.jpg" alt="Парикмехерские услуги">
        </div>
        <div class="services-list__content">
            <div class="services-list__heading">
                <h2>Прайс-лист</h2>
            </div>

            <div>
                <ul class="services-list__prices dotted-list list list--gutter list--light">
                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Стрижка</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 2 850 &#8381;", prop: "Полировка волос" },
                    { value: "от 2 500 &#8381;", prop: "Стиль от Стилиста" },
                    { value: "от 3 600 &#8381;", prop: "Стиль от Топ-стилиста" },
                    { value: "от 2 000 &#8381;", prop: "Стиль от Топ-мастера" },
                    { value: "от 1 400 &#8381;", prop: "Стиль от Мастера" },
                    { value: "от 900 &#8381;", prop: "Детский стиль модельная стрижка" },
                    { value: "от 400 &#8381;", prop: "Коррекция челки" },
                    { value: "от 1 200 &#8381;", prop: "Стрижка машинкой (м)" },
                    { value: "от 500 &#8381;", prop: "Коррекция бороды и усов" },
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Укладка</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 900 &#8381;", prop: "Экспресс укладка" },
                    { value: "от 1 000 &#8381;", prop: "Укладка дневная" },
                    { value: "от 1 600 &#8381;", prop: "Укладка коктейльная"},
                    { value: "от 2 300 &#8381;", prop: "Прическа Вечерняя" },
                    { value: "от 3 200 &#8381;", prop: "Укладка ´Афрокудри´" },
                    ])


                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Окрашивание с сушкой*</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 2 900 &#8381;", prop: "Окрашивание корней" },
                    { value: "от 3 600 &#8381;", prop: "Окрашивание 1" },
                    { value: "от 4 200 &#8381;", prop: "Окрашивание 2"},
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Окрашивание для МУЖЧИН</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 1 500 &#8381;", prop: "Окрашивание Color Camo (камуфляж седины)" },
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Тонирование с сушкой*</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 2 800 &#8381;", prop: "Тонирование 1" },
                    { value: "от 3 300 &#8381;", prop: "Тонирование 1"},
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Окрашивание. Творческая работа</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 5 200 &#8381;", prop: "Творческая работа" },
                    { value: "от 11 500 &#8381;", prop: "MAGMAMANIA"},
                    { value: "от 17 000 &#8381;", prop: "AirTouch"},
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Блондирование с сушкой</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 1 900 &#8381;", prop: "Блондирование 1" },
                    { value: "от 2 500 &#8381;", prop: "Блондирование 2"},
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Мелирование с сушкой</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 2 600 &#8381;", prop: "Мелирование корней" },
                    { value: "от 3 300 &#8381;", prop: "Мелирование 1" },
                    { value: "от 4 000 &#8381;", prop: "Мелирование 2"},
                    { value: "от 6 400 &#8381;", prop: "Мелирование без стереотипов"},
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Биопластика волос</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 5 000 &#8381;", prop: "Биопластика волос" },
                    { value: "от 4 500 &#8381;", prop: "Трансформация текстуры" },
                    { value: "от 6 500 &#8381;", prop: "Контроль над волосами Keratine" },
                    { value: "от 6 500 &#8381;", prop: "Botox для волос" },
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Уход за волосами</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 5 900 &#8381;", prop: "Ламинирование Sebastian + сушка" },
                    { value: "от 500 &#8381;", prop: "Индивидуальный уход**" },
                    { value: "от 500 &#8381;", prop: "Kérastase Базовый уход" },
                    { value: "от 1 000 &#8381;", prop: "Kérastase 24 карата" },
                    { value: "от 1 900 &#8381;", prop: "Kérastase FUSIO DOSE" },
                    { value: "от 2 200 &#8381;", prop: "Kérastase FD Интенсивный ритуал" },
                    ])


                </ul>



                <p class="services-list__prices-description">
                    * - тип материала уточняйте у специалиста
                    <br>
                    ** - особенности услуги уточняйте у администратора
                </p>

            </div>

            <div class="services-list__btn-wrapper">
                <button class="services-list__btn btn btn_primary" onClick="showSonlineWidget(sonlineWidgetOptions);">
                    <span> Записаться </span>
                </button>
            </div>
        </div>
    </div>
</section>