<section id="services-list" class="services-list">
    <div class="services-list__container container">
        <div class="services-list__img-wrapper">
            <img src="./img/services/cosmetology/services/img-1.jpg" alt="Косметологические услуги">
        </div>
        <div class="services-list__content">
            <div class="services-list__heading">
                <h2>Прайс-лист</h2>
            </div>

            <div>
                <ul class="services-list__prices dotted-list list list--gutter list--light">
                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>BioRePeelCl3</b></span>
                        </div>
                    </li>
                    <li class="list__item">
                        <div class="param">
                            <span class="param__value">3 700&#8381;</span>
                            <span class="param__prop">Система обновления кожи: инновационный пилинг BioRePeelCl3 и
                                восстанавливающая сыворотка BioReHydra</span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 1 500 &#8381;", prop: "Моделирующий массаж лица шеи и зоны декольте" },
                    { value: "от 2 500 &#8381;", prop: "R F RINNOVA (AMI Италия) Мгновенный лифтинг ЛИЦО" },
                    { value: "от 1 500 &#8381;", prop: "Прокол ушей пистолетом (серьги вкл. в стоимость)"},
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Ультразвуковое очищение</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 2 300 &#8381;", prop: "Экспресс ультразвуковая чистка лица" },
                    { value: "от 2 950 &#8381;", prop: "Ультразвуковая чистка лица" },
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Профессиональная линия HOLY LAND. Израиль.</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 3 500 &#8381;", prop: "Глубокое очищение кожи - Экспресс очищение" },
                    { value: "от 4 500 &#8381;", prop: "Глубокое очищение кожи - Комплексное очищение"},
                    { value: "от 700 &#8381;", prop: "Маска"},
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Профессиональная линия EGIA. Италия.</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 3 500 &#8381;", prop: "Уход EGIA ультра-увлажняющий" },
                    { value: "от 3 500 &#8381;", prop: "Уход EGIA Лифтинг" },
                    { value: "от 3 500 &#8381;", prop: "Уход EGIA осветляющий" },
                    { value: "от 3 500 &#8381;", prop: "Уход EGIA анти-стресс" },
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Профессиональная линия DermaQuest. США.</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 3 650 &#8381;", prop: "Программа ´Ренессанс´" },
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Профессиональная линия G-DERM. Россия.</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 4 700&#8381;", prop: "G-DERM Уход 'Вторая кожа' (БИО Кожа)" },
                    { value: "от 3 100 &#8381;", prop: "G-DERM Кераторегулирующий пилинг"},
                    ])

                </ul>

            </div>

            <div class="services-list__btn-wrapper">
                <button class="services-list__btn btn btn_primary" onClick="showSonlineWidget(sonlineWidgetOptions);">
                    <span> Записаться </span>
                </button>
            </div>
        </div>
    </div>
</section>