<section id="services-list" class="services-list">
    <div class="services-list__container container">
        <div class="services-list__img-wrapper">
            <img src="./img/services/cosmetology/services/img-1.jpg" alt="Косметологические услуги">
        </div>
        <div class="services-list__content">
            <div class="services-list__heading">
                <h2>Прайс-лист</h2>
            </div>

            <div>
                <ul class="services-list__prices dotted-list list list--gutter list--light">
                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Система обновления кожи: инновационный пилинг BioRePeelCl3 и восстанавливающая
                                    сыворотка BioReHydra</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 3 750 &#8381;", prop: "Лицо" },
                    { value: "от 4 600 &#8381;", prop: "Лицо, шея" },
                    { value: "от 5 400 &#8381;", prop: "Лицо, шея, декольте" },
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Массаж лица</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 1 500 &#8381;", prop: "Моделирующий массаж лица шеи и зоны декольте" },
                    { value: "от 7 000 &#8381;", prop: "Моделирующий массаж лица - 5 процедур" },
                    { value: "от 14 250 &#8381;", prop: "Моделирующий массаж лица шеи и зоны декольте - 5 процедур"},
                    ])


                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Ультразвуковое очищение</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 2 300 &#8381;", prop: "Экспресс ультразвуковая чистка лица" },
                    { value: "от 2 950 &#8381;", prop: "Ультразвуковая чистка лица" },
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Профессиональная линия EGIA. Италия.</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 6 000 &#8381;", prop: "Уход EGIA ´Вита С´" },
                    { value: "от 8 000 &#8381;", prop: "Уход EGIA ´Вита С´ с массажем" },
                    { value: "от 6 000 &#8381;", prop: "Уход EGIA Очищение ´Актилия´ с массажем" },
                    { value: "от 4 500 &#8381;", prop: "Уход EGIA Очищение ´Актилия´" },
                    { value: "от 3 500 &#8381;", prop: "Уход EGIA ультра-увлажняющий" },
                    { value: "от 3 500 &#8381;", prop: "Уход EGIA Ультра-моделирование" },
                    { value: "от 3 500 &#8381;", prop: "Уход EGIA Лифтинг" },
                    { value: "от 3 500 &#8381;", prop: "Уход EGIA Детокс" },
                    { value: "от 3 500 &#8381;", prop: "Уход EGIA осветляющий" },
                    { value: "от 3 500 &#8381;", prop: "Уход EGIA анти-стресс" },
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Профессиональная линия G-DERM. Безинъекционная биоревитализация.</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "", prop: "Абонемент Вторая кожа" },
                    { value: "от 3 100 &#8381;", prop: "Кераторегулирующий пилинг"},
                    { value: "от 15 000 &#8381;", prop: "5 процедур кераторегулирующего пилинга"},
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Профессиональная линия HOLY LAND. Израиль.</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 3 500 &#8381;", prop: "Глубокое очищение кожи - Экспресс очищение" },
                    { value: "от 4 500 &#8381;", prop: "Глубокое очищение кожи - Комплексное очищение"},
                    { value: "от 8 000 &#8381;", prop: "Маска"},
                    { value: "от 3 200 &#8381;", prop: "Миндальный пилинг"},
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Профессиональная линия DermaQuest. США.</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 3 650 &#8381;", prop: "Программа ´Ренессанс´ Тыквенный пиллинг" },
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Esthederm</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 2 600 &#8381;", prop: "Альгинатная маска" },
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Аппарат RF RINNOVA ( AMI Италия )</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 2 500 &#8381;", prop: "Мгновенный лифтинг ЛИЦО (без пилинга)" },
                    { value: "от 4 500 &#8381;", prop: "Мгновенный лифтинг ЛИЦО (с пилингом)" },
                    { value: "от 10 000 &#8381;", prop: "Мгновенный лифтинг АБОНЕМЕНТ 5 процедур по лицу без пилинга" },
                    { value: "от 12 900 &#8381;",
                    prop: "Мгновенный лифтинг АБОНЕМЕНТ 5 процедур (2 с пилингом и 3 без пилинга)" },
                    { value: "от 2 500 &#8381;", prop: "Мгновенный лифтинг тело 1 зона*" },
                    { value: "от 4 000 &#8381;", prop: "Мгновенный лифтинг тело 2 зона*" },
                    { value: "от 5 500 &#8381;", prop: "Мгновенный лифтинг тело 3 зона*" },
                    ])

                    <li class="list__item list__item-title">
                        <div class="param">
                            <span><b>Прочее</b></span>
                        </div>
                    </li>

                    @@loop('../services-list-item.html', [
                    { value: "от 350 &#8381;", prop: "Массаж рук" },
                    { value: "от 1 000 &#8381;", prop: "Уход +" },
                    ])

                </ul>

                <p class="services-list__prices-description">
                    * - доступен абонимент, уточняйте у администратора
                    <br>
                </p>

            </div>

            <div class="services-list__btn-wrapper">
                <button class="services-list__btn btn btn_primary" onClick="showSonlineWidget(sonlineWidgetOptions);">
                    <span> Записаться </span>
                </button>
            </div>
        </div>
    </div>
</section>