<section id="offer" class="offer">
  <div class="offer__swiper-container swiper-container">

    <div class="offer__swiper-wrapper swiper-wrapper">

      @@include('./slide-1.html')
      @@include('./slide-2.html')

    </div>

    <div class="offer__swiper-pagination swiper-pagination"></div>

    <div class="offer__swiper-button-prev swiper-button-prev"></div>
    <div class="offer__swiper-button-next swiper-button-next"></div>

  </div>
  <div class="container container_fluid">

  </div>
</section>