<div class="staff__swiper-slide swiper-slide">
  <div class="staff__item-content container">
    <div class="staff__item-info">
      <div class="staff__item-heading">
        <h3>Груздева Марина</h3>
        <span>Стилист</span>
      </div>
      <p class="staff__item-description">
        В профессии 5 лет. Амбассадор премиального бренда Sebastian. Прошла обучение в академиях парикмахерского
        искусства таких как: “Vidal Sasson”, Wella, L’Oreal Professional, Davines, Moroccanoil, American crew. Выполняет
        женские и мужские стрижки, все виды окрашивания, вечерние, коктельные и ежедневные укладки. Светлана регулярно
        повышает уровень своей квалификации. Яркий профессионал, и мастер своего дела.
      </p>
    </div>
    <div class="staff__item-img">
      <img src="./img/main/staff/img-2.jpg" alt="Маникюрный мастер - Султаналиева Асель">
    </div>
  </div>
</div>