<div class="staff__swiper-slide swiper-slide">
  <div class="staff__item-content container">
    <div class="staff__item-info">
      <div class="staff__item-heading">
        <h3>Кириченко Мария</h3>
        <span>Мастер</span>
      </div>
      <p class="staff__item-description">
        В профессии более 4 лет. Окончила академию Долорес.
        Выполняет все виды окрашивания, женский и мужской стиль,
        а так же вечерние, коктейльные и ежедневные укладки.
        Прошла обучение в академиях парикмахерского искусства:
        Wella, Redken, NIOXIN, L’Oreal Professional, CHI, Davines,
        Moroccanoil, American crew, Label, TIGI, HONMA TOKYO
        (кератиновое выпрямление, бискипластия, коллаген).
      </p>
    </div>
  </div>
</div>