<section id="galery-grid" class="galery-grid">
    <div class="container container_fluid">
        <div class="galery-grid__wrapper">
            <div class="galery-grid__img">
                <img src="./img/galery/img/img-1.jpg" alt="">
            </div>
            <div class="galery-grid__img">
                <img src="./img/galery/img/img-2.jpg" alt="">
            </div>
            <div class="galery-grid__img">
                <img src="./img/galery/img/img-3.jpg" alt="">
            </div>
            <div class="galery-grid__img">
                <img src="./img/galery/img/img-4.jpg" alt="">
            </div>
            <div class="galery-grid__img">
                <img src="./img/galery/img/img-5.jpg" alt="">
            </div>
            <div class="galery-grid__img">
                <img src="./img/galery/img/img-6.jpg" alt="">
            </div>
            <div class="galery-grid__img">
                <img src="./img/galery/img/img-7.jpg" alt="">
            </div>
            <div class="galery-grid__img">
                <img src="./img/galery/img/img-8.jpg" alt="">
            </div>
            <div class="galery-grid__img">
                <img src="./img/galery/img/img-9.jpg" alt="">
            </div>
            <div class="galery-grid__img">
                <img src="./img/galery/img/img-10.jpg" alt="">
            </div>
            <div class="galery-grid__img">
                <img src="./img/galery/img/img-11.jpg" alt="">
            </div>
            <div class="galery-grid__img">
                <img src="./img/galery/img/img-12.jpg" alt="">
            </div>
            <div class="galery-grid__img">
                <img src="./img/galery/img/img-13.jpg" alt="">
            </div>
            <div class="galery-grid__img">
                <img src="./img/galery/img/img-14.jpg" alt="">
            </div>
            <div class="galery-grid__img">
                <img src="./img/galery/img/img-15.jpg" alt="">
            </div>
            <div class="galery-grid__img">
                <img src="./img/galery/img/img-16.jpg" alt="">
            </div>
            <div class="galery-grid__img">
                <img src="./img/galery/img/img-17.jpg" alt="">
            </div>
            <div class="galery-grid__img">
                <img src="./img/galery/img/img-18.jpg" alt="">
            </div>

        </div>
    </div>
</section>